<% layout('layout') -%>

  

    <div class="slider no-pad-bot" id="content">
        <ul class="slides">
            <li>
                <img src="/img/slider/slider1.jpg">
                <div class="caption right-align">
                    <h3>Fashion Freaxx, DTU</h3>
                    <h5 class="light grey-text text-lighten-3"> " The Joy of Dressing Is An Art"</h5>
                </div>
            </li>
            <li>
                <img src="/img/slider/slider2.jpg">
                <div class="caption left-align">
                    <h3>"Beauty begins the moment you decide to be yourself"</h3>
                    <h5 class="light grey-text text-lighten-3"> - Anonymous</h5>
                </div>
            </li>
            <li>
                <img src="/img/slider/slider3.jpg">
                <div class="caption right-align">
                    <h3>TRENDING WEARS THIS SEASON</h3>
                    <h5 class="light grey-text text-lighten-3"> -BIG MYNTRA SALE FLAT 50% OFF</h5>
                </div>
            </li>
            <li>
                <img src="/img/slider/slider4.jpg">
                <div class="caption center-align">
                    <h3> Fabulous Tops </h3>
                    <h5 class="light grey-text text-lighten-3"> Under 799</h5>
                </div>
            </li>
        </ul>
    </div>

    <div id="btn-cta">
        <a href="/Newspaper.pdf">View our Newsletter</a>
    </div>

    <section id="mainsec">
       


        <div class="container">
            <div class="row">
                <div class="col l8 m12 s12">

                    <!--Intro and service-->
                    <div id="intro" class="section scrollspy">
                        <div class="container">

                            <div style="border-radius: 5vw;" class="row card-panel">
                                <div class="col s12">
                                    <h3 class="center header text_h2"><span class="span_h2"> Myntra’s First Digital Fashion Influencer </span>Talent Hunt</h3>
                                </div>

                                <div class="col s12 center">
                                    <div class="card">
                                        <img src="/img/talenthunt.png" alt="Avatar" style="width:100%">
                                        <div class="container">
                                            <h4><b>By Myntra</b></h4>
                                            <p>September 11, 2019</p>
                                        </div>
                                    </div>
                                    <p class="left-align light">
                                        
                                        Myntra’s latest launch is not a clothing line or even a brand, but a unique one-of-a-kind reality shows no fashion enthusiast should miss. So stop what you’re doing, put everything down, take a seat, and get the popcorn – Fashion Superstar is 
                                        about to start, and rumor has it that it is going to take the world of fashion by storm. Myntra, in association with Zoom Studios, is launching India’s first fashion reality show on a digital platform. The show puts together ten fash-
                                        ion influencers and gurus who will compete for the title of India’s Next Big Fashion Influencer. 
                                    </p>
                                </div>

                                <div class="col s12 center">
                                    <a class="waves-effect waves-light btn center" href="https://blog.myntra.com/myntras-digital-fashion-influencer-talent-hunt/">Visit Website</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--Intro and service-->
                    <div id="intro" class="section scrollspy">
                        <div class="container">
                            <div style="border-radius: 5vw;" class="row card-panel">
                                <div class="col s12">
                                    <h3 class="center header text_h2"><span class="span_h2">Vaani’s Verve Brings Alive the Mango Spring-Summer Collection</span></h3>
                                </div>

                                <div class="col s12 center">
                                    <div class="card">
                                        <img src="/img/Mngosummer.png" alt="Avatar" style="width:100%">
                                        <div class="container">
                                            <h4><b>By Vaani Kapoor</b></h4>
                                            <p>March 24, 2021</p>
                                        </div>
                                    </div>
                                    <p class="left-align light">
                            
                                        Bollywood sensation, Vaani Kapoor is Mango’s first brand ambassador in India, endorsing the latest Mango Spring-Summer Collection. Mango, along with its franchise partner, Myntra, is geared up to set the stage for the brand to further 
                                        strengthen its leadership position in the massive and rapidly evolving fashion space in India. Lilting to the tune of LaKesha Nugent’s “One Hundred Times”, Vaani personifies the brand’s youthful and energetic spirit in the campaign video. 
                                        The ‘Happy and I know it’ themed campaign portrays the woman of today – her energy, relaxed yet confident self-love and being comfortable in her own skin. The Mango Spring-Summer Collection is meant to resonate with the persona of the fashion-forward 
                                        modern Indian woman. Having proven herself as a talented actress and a style icon with a natural flair for fashion, Vaani is sure to leave a mark in the minds of her fans and fashion enthusiasts at large. For her, fashion is a way of expressing and 
                                        exploring one’s own individuality and hopes to strike a chord with customers across the country.
                                    </p>
                                </div>
                                <div class="col s12 center">
                                    <a class="btn center" href="https://blog.myntra.com/vaanis-verve-brings-alive-the-mango-spring-summer-collection/">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>








                    <!--Intro and service-->
                    <div id="intro" class="section scrollspy">
                        <div class="container">
                            <div style="border-radius: 5vw;" class="row card-panel">
                                <div class="col s12">
                                    <h3 class="center header text_h2"><span class="span_h2">A shopping experience par excellence with ‘Myntra for Her’</span></h3>
                                </div>

                                <div class="col s12 center">
                                    <div class="card">
                                        <img src="/img/Forher.png" alt="Avatar" style="width:100%">
                                        <div class="container">
                                            <h4><b>By Vaani Kapoor</b></h4>
                                            <p>March 6, 2021</p>
                                        </div>
                                    </div>
                                    <p class="left-align light">
                                        “I have had enough of shopping” – said no woman ever! Very much in tune with that sentiment, we present ‘Myntra 
                                        for Her’ – one of the biggest fashion sale events for women in the country, from March 6th to 9th. In a tribute to our cheri-
                                        shed women shoppers, Myntra for Her is a 
                                        celebration of each and every aspect of being a woman. This is a perfect opportunity for the ladies to not only refresh their wardrobes with the latest styles and designs ahead of the hot Indian summer, but also do so at the most attractive and affordable prices. Myntra for 
                                        Her promises to be a one-of-a-kind shopping experience for consumers, with incredibly curated offers across all categories of products. Top spenders of every hour during the sale get a Myntra Gift Card worth INR 5000. Additionally, all customers, who shop for INR 4,000 or more, 
                                        get vouchers worth INR 4,000.
                                    </p>
                                </div>
                                <div class="col s12 center">
                                    <a class="waves-effect waves-light btn center" href="https://blog.myntra.com/a-shopping-experience-par-excellence-with-myntra-for-her/">Visit Website</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col l4 m12 s12">
                    <div id="eventContainer" style="border-radius: 5vw;" class="section scrollspy card-panel">
                        <div class="container">
                            <h3 class="center header text_h2"><span class="span_h2"> Recent News</span></h3>
                            <div class="row recent">
                                <ul class="collection">
                                    <% for (var i = 0;i< recentNews.length;i++) { %>
                                        <li class="collection-item">
                                            <h5>
                                                <%= recentNews[i].heading %>
                                            </h5>
                                            <h6>
                                                <%= recentNews[i].date %>
                                            </h6>
                                            <%= recentNews[i].content %>
                                                <h6>
                                                    <a href="<%= recentNews[i].link %>">
                                                        <%= recentNews[i].link %>
                                                    </a>
                                                </h6>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                            <% if(recentNews.length==0) { %>
                                <div id="intro" class="section scrollspy hide-on-med-and-down">
                                    <div class="container">
                                        <div class="fb-page" data-href="https://www.facebook.com/myntra/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                            <blockquote cite="https://www.facebook.com/myntra/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/myntra/">Fashion Freaxx</a></blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div id="intro" class="section scrollspy hide-on-med-and-down">
                                    <div class="container">
                                        <a class="twitter-timeline" data-height="400" href="https://twitter.com/myntra">Tweets by Myntra</a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    </div>
                                </div>

                                <div class="row content">
                                    <svg viewBox="0 0 960 300">
               ?
                
                  <g class = "g-ants">
                    <use xlink:href="#s-text" class="text"></use>
                    <use xlink:href="#s-text" class="text"></use>
                    <use xlink:href="#s-text" class="text"></use>
                    <use xlink:href="#s-text" class="text"></use>
                    <use xlink:href="#s-text" class="text"></use>
                  </g>
                </svg>
                                </div>
                                <div class="row">
                                    <h5 style="text-align: center;font-weight: 100;color: rgb(226, 4, 4);"> Stay Updated With The Latest Trends</h5>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    <div id="eventContainer" class="section scrollspy">
                        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
                        <div style="border-radius: 5vw;width: 100%;" class="container center card-panel LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="national-service-scheme-dtu"><a class="LI-simple-link" href='https://www.linkedin.com/company/myntra/?originalSubdomain=in'>Myntra LinkedIn For Professionals</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    